 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
 
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
}
.light-theme {
  --bg-primary: hsl(0, 0%, 98%);
  --bg-secondary: hsl(100, 100%, 100%);
  --secondary: hsl(235, 19%, 35%);
  --text-primary: hsl(235, 19%, 35%);
  --text-secondary: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --desktop-img-bg: url(./images/bg-desktop-light.jpg) no-repeat;
  --mobile-img-bg: url(./images/bg-mobile-light.jpg) no-repeat;
}

.dark-theme {
  --bg-primary: hsl(235, 21%, 11%);
  --bg-secondary: hsl(235, 24%, 19%);
  --text-secondary: hsl(234, 11%, 52%);
  --text-primary: hsl(234, 39%, 85%);
  --desktop-img-bg: url(./images/bg-desktop-dark.jpg);
  --mobile-img-bg: url(./images/bg-mobile-dark.jpg);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
}

body {
  background: var(--bg-primary);
  font-size: 18px;
}

header {
  min-height: 200px;
  background: var(--mobile-img-bg);
  background-size: cover;
  padding: 50px 25px 30px 25px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.logo {
  color: hsl(0, 0%, 98%);
  font-size: 2rem;
}

.header-wrapper button {
  all: unset;
}

.form {
  position: relative;
  height: 50px;
  margin-bottom: 50px;
}

.circle {
  min-width: 15px;
  height: 15px;
  border: 1px solid var(--text-secondary);
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.form input {
  width: 100%;
  font-size: 18px;
  height: 100%;
  padding-left: 40px;
  border-radius: 5px;
  border: none;
  background: var(--bg-secondary);
  color: var(--text-primary);
}

.form input::placeholder {
  color: var(--text-secondary);
  font-size: 18px;
}

main {
  padding: 0 25px;
  margin-top: -55px;
}

.main-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.checker {
  min-width: 15px;
  height: 15px;
  border: 1px solid var(--text-secondary);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: relative;
  background: transparent;
}

.checker:hover {
  border-color: hsl(192, 100%, 67%);
}

.todo {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--bg-secondary);
  border-bottom: 1px solid var(--text-secondary);
  padding: 15px;
  color: var(--text-primary);
  font-size: 14px;
  cursor: pointer;
}

.todo.dragging {
  opacity: 0.5;
}

.todo:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.close-btn {
  all: unset;
  margin-left: auto;
  opacity: 0;
  cursor: pointer;
}

.todo:hover .close-btn {
  opacity: 1;
}

.drag {
  margin-top: 100px;
  text-align: center;
  color: var(--text-secondary);
  font-size: 15px;
}

.completed .checker {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.completed .todo-text {
  text-decoration: line-through;
  color: var(--text-secondary);
}

.checker img {
  display: none;
}

.completed .checker img {
  display: block;
}

.todo-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: var(--bg-secondary);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}

.btn,
.clear-btn {
  font-size: 15px;
  color: var(--text-secondary);
  transition: 0.5s;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 900;
}

.btn:hover,
.clear-btn:hover {
  color: hsl(220, 98%, 61%);
}

.todo-footer span {
  font-size: 15px;
  color: var(--text-secondary);
  font-weight: 900;
}

.controllers {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: absolute;
  bottom: -60px;
  background: var(--bg-secondary);
  left: 0;
  right: 0;
  padding: 15px;
}

.active {
  color: hsl(220, 98%, 61%);
}

@media screen and (min-width: 600px) {
  header {
    background: var(--desktop-img-bg);
  }

  .header-container,
  .main-container {
    max-width: 500px;
    margin: 0 auto;
  }

  .controllers {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: initial;
    bottom: 0;
    background: var(--bg-secondary);
    padding: 0;
  }

  .drag {
    margin-top: 40px;
  }

  .checker {
    min-width: 20px;
    min-height: 20px;
  }

  .todo {
    gap: 20px;
    font-size: 18px;
  }

  .form input {
    padding-left: 60px;
  }

  .circle {
    min-width: 20px;
    height: 20px;
  }
}
